#container{
    background-color: lightblue;
    
}
.contain ul li{
list-style: none;
text-align: center;
font-size: large;
text-decoration: none;
margin: 10px auto;
padding: 10px;
}
.contain ul{
    margin: 0px auto;
    width: 100%;
}
.yellow{
    background-color: yellow;
}
.pink{
    background-color: pink;
}
#blue{
    background-color: blue;
}
.green{
    background-color: green;
}
#gray{
    background-color: gray;
}
.red{
    background-color: red;
}
.black{
    background-color: blueviolet;
}